.digitalTime {
  font-size: 145;
  font-family: Tungsten-Medium;
  text-length: 32;
  fill: white;
  text-anchor: middle;
  y: 50%+55;
  x: 50%;
}


.options {
  font-size: 45;
  font-family: Tungsten-Medium;
  text-length: 32;
  fill: white;
  text-anchor: middle;
}

.top {
  x: 50%;
  y: 65;
}

.bottom {
  x: 50%;
  y: 100%-25;
}

.horizontalLine {
  stroke-width: 1;
  fill: black;
  x1: 10;
  x2: 100%-10;
}


.sideBarLarge {
  font-size: 45;
  font-family: Seville-Bold;
  text-length: 32;
  fill: black;
  text-anchor: middle;
}

.sideBarSmall {
  font-size: 25;
  font-family: Seville-Bold;
  text-length: 32;
  fill: black;
  text-anchor: middle;
}