.digitalTime {
  font-size: 160;
  font-family: Tungsten-Medium;
  text-length: 32;
  fill: white;
  text-anchor: middle;
  letter-spacing: 5
}


.options {
  font-size: 45;
  font-family: Tungsten-Medium;
  text-length: 32;
  fill: white;
  text-anchor: middle;
}

.horizontalLine {
  stroke-width: 1;
  fill: black;
  x1: 10;
  x2: 100%-10;
}


.sideBarLarge {
  font-size: 45;
  font-family: Seville-Bold;
  text-length: 32;
  fill: black;
  text-anchor: middle;
}

.sideBarSmall {
  font-size: 25;
  font-family: Seville-Bold;
  text-length: 32;
  fill: black;
  text-anchor: middle;
}